<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">


<h:form prependId="false">
    <p:growl id="growl" life="3000" />
    <h:panelGrid columns="5" style="margin-bottom:10px">
        <h:outputText value="Latitude" />
        <p:inputText value="#{mapView.posX}" />
        <h:outputText value="Longitude" />
        <p:inputText value="#{mapView.posY}" />
        <p:commandButton id="Ajax" value="Reverse Geocode" update="growl, mapa" action="#{mapView.onReverseGeocode()}" ajax="true"/>
    </h:panelGrid>

    <p:gmap id="gmap" center="#{mapView.centerRevGeoMap}" zoom="12" type="HYBRID" style="width:100%;height:400px" model="#{mapView.mapModel}">
        <p:ajax event="overlaySelect" listener="#{vesselController.onVesselSelectInMapView}" update="growl, gmap, vessel, graphics" />
    </p:gmap>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    function geocode() {
        PF('geoMap').geocode(document.getElementById('address').value);
    }

    function reverseGeocode() {
        var lat = document.getElementById('lat').value,
            lng = document.getElementById('lng').value;

        PF('revGeoMap').reverseGeocode(lat, lng);
    }
    </script>
</h:form>

</html>