<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:p="http://primefaces.org/ui"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
  <title>Vessel website</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@latest"></script>
    <script src="JavaScript/stock-prices.js"></script>
    <script src="JavaScript/chart.js"></script>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>


    <style>

    #chart {
      max-width: 650px;
      margin: 35px auto;
    }

  </style>




    <script>
    // Replace Math.random() with a pseudo-random number generator to get reproducible results in e2e tests
    // Based on https://gist.github.com/blixt/f17b47c62508be59987b
    var _seed = 42;
    Math.random = function() {
      _seed = _seed * 16807 % 2147483647;
      return (_seed - 1) / 2147483646;
    };
    </script>
</h:head>

<style type="text/css">
    .ui-row-editor .ui-row-editor-pencil {
        margin-left:8px;
    }

</style>


<h:body>
    <p:panelGrid columns="2" layout="grid">
        <p:panel id="mapa" header="Map">
            <ui:include src="_mapView.xhtml"/>
        </p:panel>
        <p:panel id="vessel" header="Vessels">
            <ui:include src="_vesselView.xhtml">
                <ui:param name = "extended" value = "false"/>
            </ui:include>
        </p:panel>
    </p:panelGrid>


    <p:panelGrid columns="1" layout="grid">
        <p:panel id="graphics" header="Graphics">
            <ui:include src="_graphicsView.xhtml"/>
        </p:panel>
    </p:panelGrid>
    <div id="chart"></div>
</h:body>
</html>
