<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <title>Map</title>
</h:head>

<style type="text/css">
    .ui-row-editor .ui-row-editor-pencil {
        margin-left:8px;
    }
    .ui-grid td {
        white-space: nowrap;
    }
</style>

<h:body>

    <h:form id="vessel"/>
    <h:form id="graphics"/>
    <h:form id="statusPanel"/>

    <p:panelGrid columns="1" layout="grid">
        <p:panel id="mapa" header="Map">
            <ui:include src="_mapView.xhtml"/>
        </p:panel>
    </p:panelGrid>
</h:body>


</html>